.primary-nav {
  padding-top: 10px;

  @mixin atMedium {
    padding-top: 0;
  }

  &--pull-right {

    @mixin atMedium {
      float: right;
    }

  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix; /*clearfix is applied to parent of the floats i.e. this li items*/
  }

  li {
    list-style: none;
    display: inline-block;
    padding-right: 0.4375rem;

    @mixin atMedium {
      float: left;
      display: block;
      padding-right: 1.25rem;
    }
  }

  li:last-child {
    padding-right: 0;

    @mixin atMedium {
      padding-right: 1.25rem;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    padding: 5px 8px;
    font-size: .8rem;
    background-color: rgba($mainBlue, 0.5);

    @mixin atMedium {
      font-size: 1rem;
      padding: 0.75rem 0;
      background-color: transparent;
    }

  }

}
