.site-header {
  position: absolute;
  z-index: 2;
  background-color: rgba($mainBlue,0.3);
  width: 100%;
  padding: 10px 0;

  &__btn-container {
    float:right;
  }

  &__logo {
    position: absolute; /* takes logo out of the natural flow of the page */
    top: 0; /* counteracts the padding of the .site-header element */
    background-color: $mainBlue;
    padding: 1.5625rem 2.25rem;
  }

  &__logo__graphic {
    text-indent: -9999px;
  }
}
